.root{
position: relative;
left:-120px;
}

.input{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width:400px;
  border-radius:10px;
  font-size: 16px;
  &:focus{
    border: 1px solid rgba(0,0,0,0.2)
  }
}

.icon{
  top:12px;
  left: 14px;
  position: absolute;
  height: 22px;
  width: 22px;
  opacity: 0.3;
}

.close{
  position: absolute;
  right: 15px;
  top: 15px;
  height: 18px;
  width: 18px;
  opacity: 0.3;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}